# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Jupyter / notebooks
# ======================
.ipynb_checkpoints/

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Datos (NO versionar)
# ======================
/data_raw/
/data_processed/
/data_temp/

# ======================
# Logs / temporales
# ======================
*.log
